.post__items {
    display: flex;
    // border: 1px black solid;
    justify-content: space-between;
}
.post__item {
    // border: 1px blue solid;
    width: 30%;
}
.post__item__text {
    margin: 12px 0;
    width: 80%;
}

.post__item__text__title {
    font-weight: bold;
    font-size: 22px;
    margin: 12px 0;
}

