@use './variables';

// Extra-light
@font-face {
	font-family: "#{variables.$poppins-font-family}";
	src: url("#{variables.$poppins-font-path}/#{variables.$poppins-font-family}-ExtraLight.ttf")
		format("truetype");
	font-weight: 100;
	font-style: normal;
	font-display: block;
}

@font-face {
	font-family: "#{variables.$poppins-font-family}";
	src: url("#{variables.$poppins-font-path}/#{variables.$poppins-font-family}-ExtraLightItalic.ttf")
		format("truetype");
	font-weight: 100;
	font-style: italic;
	font-display: block;
}

// Light
@font-face {
	font-family: "#{variables.$poppins-font-family}";
	src: url("#{variables.$poppins-font-path}/#{variables.$poppins-font-family}-Light.ttf")
		format("truetype");
	font-weight: 200;
	font-style: normal;
	font-display: block;
}

@font-face {
	font-family: "#{variables.$poppins-font-family}";
	src: url("#{variables.$poppins-font-path}/#{variables.$poppins-font-family}-LightItalic.ttf")
		format("truetype");
	font-weight: 200;
	font-style: italic;
	font-display: block;
}

// Regular
@font-face {
	font-family: "#{variables.$poppins-font-family}";
	src: url("#{variables.$poppins-font-path}/#{variables.$poppins-font-family}-Regular.ttf")
		format("truetype");
	font-weight: 400;
	font-style: normal;
	font-display: block;
}

// Medium
@font-face {
	font-family: "#{variables.$poppins-font-family}";
	src: url("#{variables.$poppins-font-path}/#{variables.$poppins-font-family}-Medium.ttf")
		format("truetype");
	font-weight: 500;
	font-style: normal;
	font-display: block;
}

@font-face {
	font-family: "#{variables.$poppins-font-family}";
	src: url("#{variables.$poppins-font-path}/#{variables.$poppins-font-family}-MediumItalic.ttf")
		format("truetype");
	font-weight: 500;
	font-style: italic;
	font-display: block;
}

// Semi-bold
@font-face {
	font-family: "#{variables.$poppins-font-family}";
	src: url("#{variables.$poppins-font-path}/#{variables.$poppins-font-family}-SemiBold.ttf")
		format("truetype");
	font-weight: 600;
	font-style: normal;
	font-display: block;
}

@font-face {
	font-family: "#{variables.$poppins-font-family}";
	src: url("#{variables.$poppins-font-path}/#{variables.$poppins-font-family}-SemiBoldItalic.ttf")
		format("truetype");
	font-weight: 600;
	font-style: italic;
	font-display: block;
}

// Bold
@font-face {
	font-family: "#{variables.$poppins-font-family}";
	src: url("#{variables.$poppins-font-path}/#{variables.$poppins-font-family}-Bold.ttf")
		format("truetype");
	font-weight: 700;
	font-style: normal;
	font-display: block;
}

@font-face {
	font-family: "#{variables.$poppins-font-family}";
	src: url("#{variables.$poppins-font-path}/#{variables.$poppins-font-family}-BoldItalic.ttf")
		format("truetype");
	font-weight: 700;
	font-style: italic;
	font-display: block;
}

// Extra-bold
@font-face {
	font-family: "#{variables.$poppins-font-family}";
	src: url("#{variables.$poppins-font-path}/#{variables.$poppins-font-family}-ExtraBold.ttf")
		format("truetype");
	font-weight: 800;
	font-style: normal;
	font-display: block;
}

@font-face {
	font-family: "#{variables.$poppins-font-family}";
	src: url("#{variables.$poppins-font-path}/#{variables.$poppins-font-family}-ExtraBoldItalic.ttf")
		format("truetype");
	font-weight: 800;
	font-style: italic;
	font-display: block;
}

// Ultral-bold, Black
@font-face {
	font-family: "#{variables.$poppins-font-family}";
	src: url("#{variables.$poppins-font-path}/#{variables.$poppins-font-family}-Black.ttf")
		format("truetype");
	font-weight: 900;
	font-style: normal;
	font-display: block;
}

@font-face {
	font-family: "#{variables.$poppins-font-family}";
	src: url("#{variables.$poppins-font-path}/#{variables.$poppins-font-family}-BlackItalic.ttf")
		format("truetype");
	font-weight: 900;
	font-style: italic;
	font-display: block;
}
