/* Icomoon fonts */
$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "../../src/styles/fonts/icomoon" !default;

/* Icomoon svg icons */
$icon-biohazard: "\e900";
$icon-bird: "\e901";
$icon-hand: "\e902";
$icon-handshake: "\e903";
$icon-person: "\e904";
$icon-playSign: "\e905";
$icon-send-email: "\e906";
$icon-tick: "\e907";
$icon-worldBook: "\e908";

/* Poppins font variable */
$poppins-font-family: "Poppins" !default;
$poppins-font-path: "../../src/styles/fonts/poppins" !default;
